@font-face {
	font-family: Oxanium;
	font-display: swap;
	src: url("../fonts/Oxanium-VariableFont_wght.woff2") format("woff2"), url("../fonts/Oxanium-VariableFont_wght.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: WorkSans;
	font-display: swap;
	src: url("../fonts/WorkSans-VariableFont_wght.woff2") format("woff2"), url("../fonts/WorkSans-VariableFont_wght.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
