.live-auction {
  padding: 80px 0;
}

.live-auction__top {
  margin-bottom: 84px;
}
.title {
  position: relative;
  display: flex;
  justify-content: center;
  height: 130px;

  h2 {
    padding-bottom: 42px;
    color: rgb(245, 251, 242);
    font-family: Oxanium;
    font-size: 64px;
    font-weight: 700;
    line-height: 130px;

    z-index: 1;
  }
}
.title-circle {
  position: absolute;
  top: 7px;
  left: 730px;
  width: 110px;
  height: 110px;
  align-items: center;
}

.live-auction-title-blur {
  position: absolute;
  width: 228px;
  height: 167px;
  left: 209px;
  filter: blur(200px);
  background: rgba(231, 178, 38, 0.7);
}

.live-auction-controls {
  display: flex;
  gap: 28px;
  justify-content: flex-end;
  padding-right: 80px;
}

.live-auction-prev {
}

.live-auction-next {
}

.live-auction__content {
  padding-bottom: 84px;
}

.live-auction-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.live-auction__btn {
  width: 257px;
  height: 84px;

  color: rgb(245, 251, 242);
  font-family: WorkSans;
  font-size: 30px;
  font-weight: 500;
  line-height: 35.45px;
  letter-spacing: 5%;

  box-sizing: border-box;
  border: 1px solid rgb(255, 206, 78);
}
