.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 80px;
  padding-right: 153px;

  z-index: 1;
}

.nav__list {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-content: center;
  gap: 64px;

  z-index: 1;

  a {
    color: var(--link-nav-color);
    font-family: WorkSans;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    text-align: left;
  }

  a:hover,
  a.active {
    color: var(--accent);
    padding-bottom: 8px;
    padding-left: 2px;
    padding-right: 2px;
    border-bottom: 2px solid rgb(255, 206, 78);
  }
}

.nav__btn {
  position: relative;
  z-index: 1;
}
