.popular-collections {
  padding-bottom: 104px;
}

.popular-collections__top {
  margin-bottom: 84px;
}
.title {
  position: relative;
  display: flex;
  justify-content: center;
  height: 130px;

  h2 {
    padding-bottom: 42px;
    color: rgb(245, 251, 242);
    font-family: Oxanium;
    font-size: 64px;
    font-weight: 700;
    line-height: 130px;

    z-index: 1;
  }
}
.popular-collections-title-circle {
  position: absolute;
  top: 7px;
  left: 635px;
  width: 110px;
  height: 110px;
  align-items: center;
}

.popular-collections-title-blur {
  position: absolute;
  width: 180px;
  height: 167px;
  left: 500px;
  filter: blur(200px);
  background: rgb(96, 231, 206);
  z-index: 1;
}

.popular-collections__content {
  position: relative;
  padding-bottom: 84px;
}

.popular-collections-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.popular-collections__btn {
  width: 257px;
  height: 84px;

  color: rgb(245, 251, 242);
  font-family: WorkSans;
  font-size: 30px;
  font-weight: 500;
  line-height: 35.45px;
  letter-spacing: 5%;

  box-sizing: border-box;
  border: 1px solid rgb(255, 206, 78);
}
